<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <a href="/users/dashboard">Dashboard</a>
        <a href="/library/mybooks">My books</a>
        <br />

        <p>Library</p>
    
        <ul>
            <% books.forEach(function(book){ %>
                <form action="/library/<%= book.id %>/loan" method="POST">
                    <li>
                        <%= book.title %> - <%= book.author %> (<%= book.year %>) / <button type="submit"> Click me </button>
                    </li>
                </form>

            <% }); %>
        </ul>
    </body>
</html>