<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit now!</title>
</head>

<body>
    <a href="/users/dashboard">Dashboard</a>
    <a href="/library">Library</a>
    <br />
    <h1>Locations</h1>
   
    <% attractions.forEach(function(attraction){ %>
        <img src="<%= attraction.location_url %>" width="100" height="100" alt="<%= attraction.name %>"/>   
        <h3><%= attraction.name %></h3>
        <p><%= attraction.description %></p>
        <br /><br /><br />
    <% }); %>
    
</body>

</html>