<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- comment below skeleton css out -->
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <link 
        rel="stylesheet" 
        href="/public/css/index.css"
    />
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<a href="/users/login">Login</a>
</body>
</html>
