<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/buttons/button.css">

    <title>Home</title>
</head>

<body>
    <div class="background"></div>

    <header>
        <h1 class="logo"> Florin County </h1>
        <nav class="nav">
            <button id="register-btn" type="button"> Register </button>
            <button id="login-btn" type="button"> Login </button>
        </nav>
    </header>

    <section class="home">
        <div class="intro">
            <h1 id="title">WELCOME TO FLORIN COUNTY</h1>
            <p id="intro-para">Welcome to the Florin County Council website! Here, you'll find information about our
                rural community's services, activities, and resources. Explore our site to discover the beauty and
                opportunities our countryside offers.</p>
        </div>
    </section>

    <div class="landmarks">

        <img src="/img/park.jpg" width="300px" height="300px">
        <img src="/img/achilles_statue.jpg" width="300px" height="300px">

    </div>

</html>