<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/index.css" />
    <!-- <link rel="stylesheet" href="/css/buttons/homeButton.css"> -->
    <link rel="stylesheet" href="/css/buttons/button.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script defer src="/scripts/index.js"></script>
    <title>Florin County Homepage</title>
</head>

<body>
    <div class="background"></div>

    <button onclick="topFunction()" id="myBtn" class="button" title="Go to top">Back to Top</button>

    <header>
        <h1 class="logo"> Florin County </h1>
        <nav class="nav">
            <button id="register-btn" class="button" type="button" onclick="location.href='/users/register';"> Register
            </button>
            <button id="login-btn" class="button" type="button" onclick="location.href='/users/login';"> Login </button>
        </nav>
    </header>

    <section class="home">
        <div class="intro">
            <h1 id="title">WELCOME TO FLORIN COUNTY</h1>
            <p id="intro-para">Welcome to the Florin County Council website! Here, you'll find information about our
                rural community's services, activities, and resources. Explore our site to discover the beauty and
                opportunities our countryside offers.</p>
        </div>
    </section>

    <h2 id="landmark-title"> Our landmarks</h2>
    <a class="redirect-link" href="/visit">see more</a>
    <div class="image-container">
        <div class="image-wrapper">
            <img src="/img/park.jpg" alt="Image 1">
            <div class="image-overlay">
                <div class="image-text">
                    <h1>Florin Park</h1>
                    <p>Florin Park is a charming and serene destination nestled in the heart of a bustling city,
                        offering a lush green oasis where visitors can relax, unwind, and soak in the natural beauty of
                        the surroundings. With its manicured gardens, towering trees, and tranquil water features,
                        Florin Park is the perfect spot for a peaceful stroll, a picnic with loved ones, or a quiet
                        moment of reflection amidst the hustle and bustle of city life. Whether you're a local resident
                        or a traveler passing through, Florin Park is a must-visit destination that will leave you
                        feeling refreshed, rejuvenated, and inspired.</p>
                </div>
            </div>
        </div>
        <div class="image-wrapper">
            <img src="/img/achilles_statue.jpg" alt="Image 2">
            <div class="image-overlay">
                <div class="image-text">
                    <h2>Achilles statue</h2>
                    <p>LAchilles Statue is an awe-inspiring monument that captures the heroic spirit of one of history's
                        greatest warriors. Towering over its surroundings, the statue depicts the legendary Greek hero
                        in all his glory, his rippling muscles and fierce expression a testament to his legendary
                        courage and strength. Set against a backdrop of lush greenery and tranquil water features,
                        Achilles Statue is a true marvel of art and architecture, drawing visitors from far and wide to
                        marvel at its beauty and pay homage to the bravery of this iconic figure. Whether you're a
                        history buff, an art enthusiast, or simply seeking inspiration, Achilles Statue is a must-see
                        destination that will leave you in awe of its magnificence and significance.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="lib-container">
        <h2 id="lib-title"> Our library </h2>
        <img class="lib-image" src="/img/books.jpg">
        <div class="lib-text">
            <p class="text-padding">Florin Library is a beloved community resource that serves as a hub of knowledge,
                learning, and cultural
                enrichment for people of all ages and backgrounds. With its extensive collection of books, magazines,
                and multimedia resources, the library offers something for everyone, from children discovering the joy
                of reading to adults seeking to expand their horizons and explore new ideas. With its welcoming
                atmosphere, friendly staff, and vibrant programs and events, Florin Library is a true community
                gathering place, where people come together to share knowledge, learn from one another, and connect with
                their neighbors. Whether you're seeking information, inspiration, or simply a place to relax and enjoy a
                good book, Florin Library is a cherished institution that embodies the best of what a library can be.
            </p>
        </div>
    </div>


    <div class="rec-container">
        <h2 id="recycling-title">Recycling Center</h2>

        <div class="rec-image">
            <img id="rec-img" src="img/recycling.png">
        </div>

        <h2 id="rec-title"> We take recycling seriously...</h2>
        <div class="rec-text">
            <p>Florin Council takes recycling very seriously and is committed to reducing waste and protecting the
                environment. The council has implemented a comprehensive recycling program that encourages residents and
                businesses to recycle a wide variety of materials, including paper, plastics, glass, and metals. They
                have also established a network of recycling centers and drop-off locations throughout the city, making
                it easy for people to recycle their waste and reduce their carbon footprint. In addition to these
                efforts, the council regularly organizes educational events and outreach programs to raise awareness
                about the importance of recycling and promote sustainable practices. Florin Council's commitment to
                recycling is a testament to their dedication to building a cleaner, healthier, and more sustainable
                community for future generations.
            </p>
        </div>
    </div>
</body>

</html>
