<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/buttons/button.css">
    <title>Login</title>
</head>

<body>
    <a id="home" href="/"><button class="button" role="button">Home</button></a>

    <div class="form-container">
        <div class="title-container">
            <h1 id="title">Login</h1>
        </div>

        <div class="errors-container">
            <!-- error and success messages -->
            <ul id="errors">
                <%= messages.success_msg %>
                    <%= messages.logged_out %>
                        <%= messages.no_email %>
                            <%= messages.incorrect_password %>
            </ul>
        </div>


        <!-- login form -->
        <form id="form" action="/users/login" method="POST" style="text-align: center;">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required />
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required />
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </form>
        <div>
            <a href="/users/register">Don't have an account? Register</a>
        </div>
    </div>

</body>

</html>
