@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=League+Spartan&family=Lobster+Two&family=Raleway&display=swap');

body {
    background-color: #F5F5F5;
    text-align: center;
    overflow-x: hidden;
}

#page-title {
    display: flex;
    color: #55286F;
    font-size: 300%;
    justify-content: center ;
    font-family: 'Raleway', bold;
}

.img-container {
    padding: 0em 1.5em 0em 1.5em;
    transition: transform 0.3s ease;
}

.img-container:hover img {
    transform: scale(1.1);
}

.img-size {
    max-width: 50%;
}

#location-title {
    display: flex;
    color: #55286F;
    font-size: 150%;
    justify-content: center ;
    font-family: 'Raleway', bold;
}

#location-description {
    color: #55286F;
    font-size: 20px;
    text-align: center;
    padding: 1em 4em 1em 4em;
}

hr {
    width: 60%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*  Image overlay */

.image-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.image-wrapper {
    position: relative;
    margin: 0 10px;
    width: calc(100% * (1/2) - 10px - 1px);
}

.image-wrapper img {
    display: block;
    max-width: 100%;
    padding: 0em 1.5em 0em 1.5em;
    transition: transform 0.3s ease;
}

.image-wrapper:hover img {
    transform: scale(1.1);
}

.image-overlay {
    position: absolute;
    top: 40%;
    left: 30%;
    right: 20%;
    bottom: 40%;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper:hover .image-overlay {
    opacity: 1;
}


.home-link {
    font-family: 'Raleway';
    font-size: 54px;
    color: #55286F;
}

.image-text {
    color: #E9F1F7;
    font-size: 100%;
    text-align: center;
}
