/* hover effect for boxes */
.hover-effect {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hover-effect:hover,
.hover-effect:focus,
.hover-effect:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
