@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=League+Spartan&family=Lobster+Two&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Antic Slab', serif;
}

body {
    background-color: #F5F5F5;

}


.background {
    display: inline-block;
    position: absolute;
    background-image: url(../img/achilles_statue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    filter: blur(2px);
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    color: #55286F;
    cursor: pointer;
}

.home {
    display: flex;
    position: relative;
    height: 90vh;
    width: 90%;
}

.intro {
    display: flex;
    height: 120vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 20vh;
    margin-bottom: -100px;
    z-index: 10;
}

#title {
    font-family: 'Raleway';
    font-size: 54px;
    color: #55286F;
}

#intro-para {
    font-size: 36px;
    font-family: 'Antic Slab', serif;
    color: #E9F1F7;
    text-align: center;
}

#landmark-title {
    display: flex;
    margin-top: 300px;
    color: #55286F;
    font-size: 300%;
    justify-content: center ;
    font-family: 'Raleway', bold;
}



                                /* Landmark styles */
.image-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.image-wrapper {
    position: relative;
    margin: 0 10px;
}

.image-wrapper img {
    display: block;
    max-width: 100%;
    padding: 0em 1.5em 0em 1.5em;
    transition: transform 0.3s ease;
}

.image-wrapper:hover img {
    transform: scale(1.1);
}

.image-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-overlay:hover {
    opacity: 1;
}

.home-link {
    font-family: 'Raleway';
    font-size: 54px;
    color: #55286F;
}

.image-text {
    color: #E9F1F7;
    font-size: 100%;
    text-align: center;
}



                                    /* Library style */

/* .lib-container {
    display: flex;
    text-align: center;
    margin-top: 20px;
} */

#lib-title{
    display: flex;
    margin-top: 200px;
    color: #55286F;
    font-size: 300%;
    justify-content: center ;
    font-family: 'Raleway', bold;
    padding-bottom: 3em;
}

.lib-image {
    width: 100%;
    border-radius: 30px;
    height: 500px;
    object-fit: cover;
}

.lib-text {
    color: #55286F;
    font-size: 20px;
    text-align: center;
    margin-top: -140px;
    padding: 0em 3em 1em 3em;
}

.text-padding {
    padding: 10em 0em 5em 0em;
}


                                    /* Recycling style */

#recycling-title {
    display: flex;
    color: #55286F;
    font-size: 300%;
    justify-content: center;
    padding: 0em 0em 2em 0em;
    font-family: 'Raleway', bold;
}

#rec-title {
    display: flex;
    text-align: center;
    color: #55286F;
    font-size: 150%;
    padding: 3em 0em 0em 0em;
    justify-content: center;
    font-family: 'Raleway', bold;
}

.rec-image {
    justify-content: center;
    text-align: center;
}

#rec-img {
    width: 25%;
    height: 25%;
}

.rec-text {
    color: #55286F;
    font-size: 20px;
    text-align: center;
    padding: 3em 1em 1em 3em;
}

.redirect-link {
    display: flex;
    justify-content: center;
    text-align: center;
}