@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Raleway:wght@500&family=Lobster+Two&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #210B2C;
}

.background {
    display: inline-block;
    position: absolute;
    background-image: url(../img/achilles_statue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    filter: blur(8px);
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    color: #55286F;
    cursor: pointer;
}

.home {
    display: flex;
    position: relative;
    height: 90vh;
    width: 90%;
}

.intro {
    display: flex;
    height: 120vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 20vh;
    margin-bottom: -100px;
    z-index: 10;
}

#title {
    font-family: 'Raleway', bold;
    font-size: 64px;
    color: #55286F;
    left: 20px;
}

#intro-para {
    font-size: 40px;
    font-family: 'Antic Slab', serif;
    color: bisque;
}

#landmark-title {
    top: 400px;
}


.image-container {
    margin-top: 600px;
    display: flex;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    margin: 0 10px;
}

.image-wrapper img {
    display: block;
    max-width: 100%;
    transition: transform 0.3s ease;
}

.image-wrapper:hover img {
    transform: scale(1.1);
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-overlay:hover {
    opacity: 1;
}

.image-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}