@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap');


button {
  font-size: 30px;
  margin-left: 50px;
  color: #1f1c1c;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #000000;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #cc1d1d;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

#register-btn {
  color: purple;
  font-family: 'League Spartan', sans-serif;
}

#login-btn {
  border: 2px solid purple;
  background-color: purple;
  color: white;
  font-family: 'League Spartan', sans-serif;
}
